In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('skor_tfidf.csv')
df

   Comments  TF-IDF
0    kontol    1.00
1    anjing    1.00
2      babi    0.66
3     memek    0.52
4    goblok    0.36
..      ...     ...
76    perek    0.86
77  bangkai    1.00
78    tuyul    0.80
79     wong    1.00
80    antek    0.97

[81 rows x 2 columns]

# High TF-IDF

In [4]:
data = pd.DataFrame()
data = df[df['TF-IDF'] > 0.5]
data.to_csv('high_tfidf.csv')

   Comments  TF-IDF
0    kontol    1.00
1    anjing    1.00
2      babi    0.66
3     memek    0.52
5     silit    0.72
..      ...     ...
76    perek    0.86
77  bangkai    1.00
78    tuyul    0.80
79     wong    1.00
80    antek    0.97

[79 rows x 2 columns]

In [5]:
data = pd.read_csv('high_tfidf.csv')
data = data.drop('Unnamed: 0', axis=1)
data = data['Comments']

In [6]:
data

0      kontol
1      anjing
2        babi
3       memek
4       silit
       ...
67      dungu
68      perek
69    bangkai
70      tuyul
71      antek
Name: Comments, Length: 72, dtype: object

In [28]:
df = pd.read_csv('netral.csv')
df = df.drop('Unnamed: 0', axis=1)
df

                                                   text sentiment
0                              apas babi gajelas ngntod    netral
1                                        apasiii sampah    netral
2                                       apip pekan baru    netral
3                                                  arap    netral
4                                         arap aja tato    netral
...                                                 ...       ...
7367  zhar borneo muka lu kok kyknya ada mana mana y...    netral
7368      zhar zhar zhar zhar zhar zhar ini bner i like    netral
7369                     zharborneo ikut rewind gk bang    netral
7370                               zhiap bang saya juga    netral
7371                 zigi wig tombol mode batas youtube    netral

[7372 rows x 2 columns]

In [29]:
def labeling(text, data):
    words = set(text.split())
    kata_kasar = set(data)
    if words & kata_kasar:
        return 'kasar'
    else:
        return 'tidak kasar'
    
df['label'] = df['text'].astype(str).apply(lambda x: labeling(x, data))
df

                                                   text sentiment        label
0                              apas babi gajelas ngntod    netral        kasar
1                                        apasiii sampah    netral  tidak kasar
2                                       apip pekan baru    netral  tidak kasar
3                                                  arap    netral  tidak kasar
4                                         arap aja tato    netral  tidak kasar
...                                                 ...       ...          ...
7367  zhar borneo muka lu kok kyknya ada mana mana y...    netral  tidak kasar
7368      zhar zhar zhar zhar zhar zhar ini bner i like    netral  tidak kasar
7369                     zharborneo ikut rewind gk bang    netral  tidak kasar
7370                               zhiap bang saya juga    netral  tidak kasar
7371                 zigi wig tombol mode batas youtube    netral  tidak kasar

[7372 rows x 3 columns]

In [36]:
dkasar = pd.DataFrame()
dkasar = df[df['label'] == 'kasar']
dkasar = dkasar.drop('label', axis=1)
dkasar.to_csv('kasar_only.csv')

In [30]:
dkasar = pd.DataFrame()
dkasar = df[df['label'] == 'tidak kasar']
dkasar = dkasar.drop('label', axis=1)
dkasar.to_csv('tidak kasar_only.csv')

# Low TF-IDF

In [32]:
dsisa = pd.read_csv('tidak kasar_only.csv')
dsisa

      Unnamed: 0                                               text sentiment
0              1                                     apasiii sampah    netral
1              2                                    apip pekan baru    netral
2              3                                               arap    netral
3              4                                      arap aja tato    netral
4              5                                   arap fans botjah    netral
...          ...                                                ...       ...
6516        7367  zhar borneo muka lu kok kyknya ada mana mana y...    netral
6517        7368      zhar zhar zhar zhar zhar zhar ini bner i like    netral
6518        7369                     zharborneo ikut rewind gk bang    netral
6519        7370                               zhiap bang saya juga    netral
6520        7371                 zigi wig tombol mode batas youtube    netral

[6521 rows x 3 columns]

In [36]:
import json

with open('kata_kasar.json', 'r') as file:
    kamus = json.load(file)

def labeling(text, kamus):
    words = set(text.split())
    kata_kasar = set(kamus.keys())  
    if words & kata_kasar:
        return 'kasar'
    else:
        return 'tidak kasar'
    
dsisa['labeling'] = dsisa['text'].astype(str).apply(lambda x: labeling(x, kamus))
# dsisa = dsisa.drop('Unnamed: 0', axis=1)
dsisa

                                                   text sentiment     labeling
0                                        apasiii sampah    netral        kasar
1                                       apip pekan baru    netral  tidak kasar
2                                                  arap    netral  tidak kasar
3                                         arap aja tato    netral  tidak kasar
4                                      arap fans botjah    netral  tidak kasar
...                                                 ...       ...          ...
6516  zhar borneo muka lu kok kyknya ada mana mana y...    netral  tidak kasar
6517      zhar zhar zhar zhar zhar zhar ini bner i like    netral  tidak kasar
6518                     zharborneo ikut rewind gk bang    netral  tidak kasar
6519                               zhiap bang saya juga    netral  tidak kasar
6520                 zigi wig tombol mode batas youtube    netral  tidak kasar

[6521 rows x 3 columns]

In [45]:
def labeling(text):
    if text == 'kasar':
        return 'negatif'
    else:
        return 'positif'
    
dsisa['sentiment'] = dsisa['labeling'].astype(str).apply(labeling)
# dsisa = dsisa.drop('Unnamed: 0', axis=1)
# dsisa = dsisa.drop('sentimen', axis=1)
dsisa.to_csv('gabungin.csv')